html
  height 100%
  background-color #555
body
  font-family "Helvetica Neue", "Lucida Grande", "Arial"
  font-size 120%
  text-align center
  text-stroke 1px rgba(255, 255, 255, 0.1)
  position relative
  top 5%
  color #555
  height 90%
  width 80%
  margin auto
  background-color #999
  
h1, h2
  margin 0
  font-size 22px
  color #343434
h1
  text-shadow 1px 2px 2px #ddd
  font-size 60px
  margin-bottom 0.5px

.article a
  color #aae
.article a:visited
  color #99b


.article
  .created_at
    display none
  .title
    width 75%
    margin auto
    font-size 1.4em
    font-weight bold
    background-color #555
    color #cdd
    padding 0.25em
  .body
    width 80%
    margin auto
    margin-bottom 3em
    margin-top 3em
    top 3em
    padding 0.8em
    background-color #444
    color #abb
  .comment
    margin-left auto
    margin-right auto
    margin-top 10px
    margin-botton 5px
    border 2px
    border-style solid
    width 60%
    text-align left
    align center
    .person
      background-color #eee
      margin-top 2px
      margin-bottom 2px
      margin-right 15px
      margin-left auto
      text-align right
      width 25%
    .person:before
      content "--"
    .remark
      background-color #ffa
      margin 2px

#articles
  text-align left
  margin-left auto
  margin-right auto


#articles .article
  .created_at
    display none
  .title
    font-weight bold
    text-decoration underline
    margin-top 1em
  .body
    top 0em
    margin auto
    margin-top 0 
    margin-bottom 1em


.addComment
  position absolute
  width 70%
  height 25%
  bottom 0
  left 15%
  right 15%
  text-align left
  align left
  input[type =text]
    left 0
    width 35%
    text-align left
    height 1x
  input[type =button], input[type =submit]
    text-align left
    height 1x
  textarea
    width 100%
    height 4x